<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Automotora Kawaii</title>
    <link rel="stylesheet" href="../app_prueba3/css/index.css" type="text/css">
</head>
<body>
    <div class="titulares">
        <h1>
            Bueno, Oficialmente me declaro incompetente en diseño
        </h1>
        <h2>
            Pero hey! aqui unas fotos de wifus para el espacio
        </h2>
    </div>

    <!-- carrusel de waifus -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/proyecto_prueba3/app_prueba3/templates/app_prueba3/img/img_1.jpg" class="d-block w-100" alt="img_1">
          </div>
          <div class="carousel-item">
            <img src="/proyecto_prueba3/app_prueba3/templates/app_prueba3/img/img_2.jpg" class="d-block w-100" alt="img_2">
          </div>
          <div class="carousel-item">
            <img src="/proyecto_prueba3/app_prueba3/templates/app_prueba3/img/img_3.jpg" class="d-block w-100" alt="img_3">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>

      <a href="/proyecto_prueba3/app_prueba3/templates/app_prueba3/vistaVehiculo.html" target="_blank">
        <button type="button" class="btn btn-success mr-sm-2">Listado</button>
      </a>

</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>

</html>